.slider-container {
  width: 90%; /* Adjust width as needed */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
  .slider {
    flex: 1;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    background: linear-gradient(to right, blue, white);
    border-radius: 20px;
    border: 1px solid #676767;
    margin: 0 10px;
    height: 40px; /* Adjust height as needed */
    font-size: 16px; /* Adjust font size to make the slider text larger */
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 40px; /* Increase the width to expand the clickable area */
    height: 40px; /* Increase the height to expand the clickable area */
    background: transparent;
    border: 3px solid #676767; /* Add border color */
    border-radius: 50%;
    cursor: pointer;
  }
  
  